* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#main {
	min-height:100%;
	margin: 0 auto;
	position: relative;
}

#footer {
	position: absolute;
	min-bottom: 0;
	width: 100%;
}